#del1{
vertical-align: -40px;
font-size: 65px;
color:blue;
}
#u1{
font-size: 45px;
color:green;
}
#c1{
vertical-align: 20px;
}
#c2{
vertical-align: -20px;
}
#del2{
vertical-align: -25px;
font-size: 29px;
color:blue;
}
#u2{
vertical-align: 9px;
color:green;
}
