#pre1{
color:blueviolet;
font-size: 28px;
}
#pre2{
color:blueviolet;
font-size: 28px;
}
#linea1{
text-decoration-line: overline;
}
#code1{
color:blueviolet;
font-size: 28px;
}
#code2{
color:blueviolet;
font-size: 28px;
}
#linea2{
text-decoration-line: overline;
}
#linea3{
text-decoration-line: overline;
}
